/* Reset de Margens e Preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do Corpo da Página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilo de Texto em Destaque */
span {
  color: #008DCF;
}

/* Estilo do Contêiner Principal */
.container {
  min-width: 400px;
  min-height: 150px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h2 {
  text-align: center;
}

/* Estilo do Conteúdo Flexível */
.content {
  display: flex;
  justify-content: space-between;
}

/* Estilo da Lista de Diretórios */
.directory-list>span {
  margin-left: 17px;
}

/* Estilo da Árvore de Diretórios */
.directory-tree {
  margin-top: 5px;
}

.directory-tree .directory-tree ul,
.directory-tree li {
  position: relative;
}

.directory-tree ul {
  list-style: none;
  padding-left: 20px;
}

.directory-tree li::before,
.directory-tree li::after {
  content: "";
  position: absolute;
  left: -17px;
}

.directory-tree li::before {
  border-top: 2px solid #000;
  top: 6px;
  width: 15px;
  height: 0;
}

.directory-tree li::after {
  border-left: 2px solid #000;
  height: 100%;
  width: 0px;
  top: 0px;
}

.directory-tree ul>li:last-child::after {
  height: 8px;
}

/* Estilo dos Botões de Adicionar e Remover */
.directory-tree .add-child:before {
  content: "+";
  position: absolute;
  right: 20px;
  top: 0;
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
}

.directory-tree .remove-item:before {
  content: "-";
  position: absolute;
  right: 0;
  top: -1px;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

/* Estilo do Botão "Adicionar" */
#addItem {
  padding: 5px 10px;
  background-color: #008DCF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addItem:hover {
  background-color: #008DCF;
}

/* Estilo do Modal de Adicionar Filho */
#addChildModal {
  display: none;
}

#addChildModal h3 {
  text-align: center;
}

#addChild {
  padding: 5px 10px;
  background-color: #008DCF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

#addChildModal .modal-content {
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 30%;
  min-width: 400px;
}

#addChild:hover {
  background-color: #007BBB;
}

/* Estilo do Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Estilo do Formulário no Modal */
.modal-form {
  margin-top: 30px;
}

/* Estilo do Botão Fechar no Modal */
.close {
  color: #aaaaaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

/* Estilo da Entrada de Texto */
.input {
  padding: 5px;
  width: 60%;
  border: none;
  outline: none;
}
